In [41]:
import pandas as pd
import cloudscraper
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings("ignore")

In [35]:
data_df = pd.read_csv("C:\\Users\\annieboadu\\OneDrive - Affinity Africa\\Documents\\ghana-web-data-main\\CSV files\\Story Urls.csv")

In [38]:
del data_df['Unnamed: 0']

In [40]:
data_df.head()

       Section Title                                                Url
0  Abroad, Ghanaians  https://www.ghanaweb.com/GhanaHomePage/diaspor...
1  Abroad, Ghanaians  https://www.ghanaweb.com/GhanaHomePage/diaspor...
2  Abroad, Ghanaians  https://www.ghanaweb.com/GhanaHomePage/diaspor...
3  Abroad, Ghanaians  https://www.ghanaweb.com/GhanaHomePage/diaspor...
4  Abroad, Ghanaians  https://www.ghanaweb.com/GhanaHomePage/diaspor...

In [8]:
data_df = data_df[0:5]

In [9]:
df_columns = ['Header','Date','Title','Information']
stories_data = pd.DataFrame(columns = df_columns)

for data in data_df['url']:
    #try:
    scraper = cloudscraper.create_scraper()
    page = scraper.get(data)
    soup = BeautifulSoup(page.content, 'html.parser')
    page_stories = soup.find(id = "medsection1")
    print(1)
    print(soup)
    div_class = page_stories.find("div", class_ = "article-left-col")
    header = div_class.find('p', class_ = "floatLeft").text
    date = div_class.find('a', id = "date").text
    title = div_class.find('h1').text
    info = div_class.find('p',id = "article-123").text
    temp_row = pd.DataFrame(data = [[header,date, title,info]], columns = df_columns)
    stories_data = stories_data.append(temp_row)


    
#     div_class = page_stories.find_all("div", class_ = "article-left-col")
#     for div in div_class:
#         for p in div.find('p'):
#             date = p
#     for div in div_class:
#         for h1 in div.find('h1'):
#             title = h1
#     for div in div_class:
#         for p in div.find_all('div'):
#             for s in p.find_all('p',id = "article-123"):
#                 info = s.textprint(div_class.find_all('br').text)
#     temp_row = pd.DataFrame(data = [[header,date, title,info]], columns = df_columns)
#     stories_data = stories_data.append(temp_row)

    #except:
        #print(div_class)

In [ ]:
stories_data['Information'] = stories_data['Information'].replace("\n\r\n","")

In [ ]:
stories_data.reset_index(inplace = True)
del stories_data['index']

In [15]:
stories_data

Empty DataFrame
Columns: [Header, Date, Title, Information]
Index: []

In [ ]:
stories_data['Information'][0]